{{! Le contrôleur transmet les informations suivantes :
	beanParam  : l'objet java à éditer dans ce formulaire
	validation : les résultats de la validation des champs de l'objet
 }}
{{>header}}
<h1>Formulaire BeanParam</h1>
{{! L'action par défaut est de revenir au contôleur }}
{{! cf. https://spring.io/guides/gs/handling-form-submission/ }}
<form method="POST"> 
	{{! On affiche des erreurs éventuelles détectées par le contrôleur }}
	{{#validation.hasErrors}}
		<div class="alert alert-danger">
			<strong>Veuillez corriger les erreurs suivantes</strong>
			<dl>
				{{#validation.fieldErrors}}
					<dt>{{field}}</dt><dd>{{defaultMessage}}</dd>
				{{/validation.fieldErrors}}
			</dl>
		</div>
	{{/validation.hasErrors}}
	Votre nom :   <input name='nom' value='{{beanParam.nom}}'/><br/>
	Votre email : <input name='email' value='{{beanParam.email}}'/><br/>
	Votre date de naissance : <input name='naissance' value='{{beanParam.naissance}}'  type="date" /><br/>
	Votre salaire : <input name='salaire' value='{{beanParam.salaire}}' type="number" /><br/>
	<input type="submit" />
</form>
<a href="/">Retour au menu</a>
<hr/>
<h3>Code source</h3>
<ul>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/form/SimpleBeanParam.java"       target="_blank">L'objet java édité par le formulaire (sans validation)</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/form/ValidatingBeanParam.java"   target="_blank">L'objet java édité par le formulaire (avec validation)</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/resources/templates/beanForm.mustache"     target="_blank">Ce formulaire de saisie</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/controller/FormController.java"  target="_blank">Le contrôleur</a></li>
</ul>					
{{>footer}}
