{{! On insère l'en-tête de page }}
{{>header}}
<h1>Exemples Mustache</h1>
{{! suivant la valeur du paramètre 'sexe' }}
{{! cf. https://www.baeldung.com/spring-thymeleaf-conditionals }}
<h2>Bonjour {{sexe}}</h2>

{{! Affiché si la liste 'prenoms' est vide }}
{{^prenoms}}
	<p>Aucun prénom à afficher</p>
{{/prenoms}}

{{! Comme une liste à puces }}
<ul>
	{{! Pour chaque prénom dans la liste 'prenoms' transmise par le contrôleur }}
	{{#prenoms}}
		{{! On affiche la valeur courante dans la liste }}
		<li>{{.}}</li>
	{{/prenoms}}
</ul>

{{! Comme une table }}
<table>
	<tr><th>Prénom</th></tr>
	{{#prenoms}}
	<tr>
		<td>{{.}}</td>
	</tr>
	{{/prenoms}}

	{{^prenoms}}
	<tr>
		<td>Aucun prénom à afficher</td>
	</tr>
	{{/prenoms}}	
</table>

<hr/>
<a th:href="@{/}" href="/">Retour au menu</a>
<h3>Code source</h3>
<ul>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/controller/DemoThymeleaf.java" target="_blank">Le contrôleur</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/resources/templates/demoMustache.mustache"    target="_blank">Cette vue</a></li>
</ul>			
{{>footer}}