{{>header}}
<h1>Erreur !</h1>
<h2>{{message}}</h2>
<table>
	<tr>
		<td>Date</td>
		<td>{{timestamp}}</td>
	</tr>
	<tr>
		<td>Path</td>
		<td>{{path}}</td>
	</tr>
	<tr>
		<td>Error</td>
		<td>{{error}}</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>{{status}}</td>
	</tr>
</table>
{{>footer}}