{{! On insère l'en-tête de page }}
{{>header}}
<h1>Bonjour</h1>
<!--/* L'action par défaut est de revenir au contôleur */-->
<form method="POST"> 
	Vous êtes :
	<select name="sexe">
		<option value="F">Une femme</option>
		<option value="M">Un  homme</option>			
	</select>
	<input type="submit" />
</form>
<a href="/">Retour au menu</a>
<h3>Code source</h3>
<ul>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/resources/templates/formulaireHello.mustache"         target="_blank">La formulaire de saisie</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/controller/HelloController.java" target="_blank">Le contrôleur</a></li>
</ul>				
{{! On insère le pied de page }}
{{>footer}}