{{! Un commentaire Mustache }}
{{! On insère l'en-tête de page }}
{{>header}}

{{! Le contrôleur transmet les informations suivantes :
	message : Le message à afficher
 }}
<h1>Hello {{message}} !</h1>
{{! On insère le pied de page }}
{{>footer}}
