{{>header}}
{{! Le contrôleur transmet un objet nommé 'beanParam' }}
<h1>Vous avez saisi :</h1>
nom : <strong>{{beanParam.nom}}</strong><br/>
email : <strong>{{beanParam.email}}</strong><br/>
date de naissance : <strong>{{beanParam.naissance}}</strong><br/>
salaire  : <strong>{{beanParam.salaire}}</strong><br/>
<hr/>
<a href="/">Retour au menu</a>	
<h3>Code source</h3>		
<ul>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/form/SimpleBeanParam.java"      target="_blank">L'objet java édité par le formulaire (sans validation)</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/resources/templates/showFormData.mustache"    target="_blank">Cette vue (affichage de l'objet édité)</a></li>
	<li><a href="https://bitbucket.org/rbastide/exemplesspringmvc/src/master/src/main/java/demo/controller/FormController.java" target="_blank">Le contrôleur</a></li>
</ul>			
{{>footer}}